body {
    background-color: darkslategrey;
}
h1 {
    color: lightskyblue;
    font-family: verdana;
    font-size: 300%;

}
h2  {
    color: navajowhite;
    font-family: verdana;
    font-size: 160%;
}
input{
    border: 2px solid #87ceeb;
}

label {
    vertical-align: top;
    color: white;
    font-family: verdana;
    font-size: 100%;
}

form {
    padding-bottom: 5px;
    padding-top: 5px;
}

button {
    background-color: cadetblue;
    border: 2px solid #87ceeb;
}
