<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Dice Tower</h1>
<form id="selectDieForm" name="selectDieForm">
    <input type="radio" id="d4" name="die" value="4"><label for="d4">D4</label>
    <input type="radio" id="d6" name="die" value="6"><label for="d6">D6</label>
    <input type="radio" id="d8" name="die" value="8"><label for="d8">D8</label>
    <input type="radio" id="d10" name="die" value="10"><label for="d10">D10</label>
    <input type="radio" id="d12" name="die" value="12"><label for="d12">D12</label>
    <input type="radio" id="d20" name="die" value="20" checked="checked"><label for="d20">D20</label>
    <input type="radio" id="d100" name="die" value="100"><label for="d100">D100</label>
</form>
<input type="text" placeholder="How many dice..." id="nrOfDice"
       title="How many dice do you want to throw?">
<button type="button" onclick="throwDiceButton();">Throw the dice!</button>
<h2 id="resultHeader"></h2>
<h2 id="result"></h2>

<script>
    function throwDiceButton(){
        let nrOfDice = document.getElementById("nrOfDice").value;
        let nrOfSides = document.querySelector('input[name = die]:checked').value;
        if (nrOfDice == 1) {
            result = rollDice(1, nrOfSides);
            message = "The D" + nrOfSides + " has spoken:";
        } else if (nrOfDice > 1) {
            result = rollDice(nrOfDice, nrOfSides);
            message = nrOfDice + "D" + nrOfSides + "s have spoken:";
        } else {
            result = "";
            message = "The dice gods are angry with your request!!!"
        }
        document.getElementById("resultHeader").innerHTML = message;
        document.getElementById("result").innerHTML = result;
    }

    function rollDice(nrOfDice, nrOfSides){
        let result = 0;
        for (i = 0; i < nrOfDice; i++) {
            result = result + Math.floor(Math.random() * nrOfSides) + 1;
        }
        return  result
    }

</script>
</body>
</html>